language: php
php:
  - '5.3'
  - '5.6'

env:
  matrix:
   - DB=MYSQL CORE_RELEASE=3.1
   - DB=MYSQL CORE_RELEASE=3.2
   - DB=MYSQL CORE_RELEASE=3.3
   - DB=MYSQL CORE_RELEASE=3.4
   - DB=MYSQL CORE_RELEASE=3.5

before_script:
 - phpenv rehash
 - composer self-update
 - git clone git://github.com/silverstripe-labs/silverstripe-travis-support.git ~/travis-support
 - php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss
 - cd ~/builds/ss

script:
 - vendor/bin/phpunit modulator/tests/
